
<script id="{$ue_id}" type="text/plain"></script>
<!-- 引入ueditor的js代码 -->
<script src="/../vendor/bingher/ueditor/assets/ueditor/ueditor.config.js"></script>
<script src="/../vendor/bingher/ueditor/assets/ueditor/ueditor.all.js"></script>
<script>
    //ueditor代码
    var ue = UE.getEditor('{$ue_id}',{
        serverUrl :"{:url('/ueditor/index')}",
        UEDITOR_HOME_URL:'/../vendor/bingher/ueditor/assets/ueditor/',
        initialFrameHeight :600,
        autoHeightEnabled : true,
        maximumWords : 200000,
        initialContent: '{$ue_content}',
    });
</script>
